.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
  }
  
  .image-container {
    display: flex;
  }
  
  .image {
    margin-right: 10px;
    border: 1px solid #eac211;
  }
  
  .image:last-child {
    margin-right: 0;
  }
  
  