<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="cont">
            <h1>WEB DEVELOPMENT</h1>
        </div>
        <app-form></app-form>
    </div><br><br>
    <div class="container">
        <h2>Web Development Services</h2>
        <p>Digiware is a major web development firm located in India that creates bespoke websites, online portals, and
            web apps for a wide range of clients. We use cutting-edge technology, advanced frameworks, and
            tried-and-true approaches to ensure that our solutions are future-proof and scalable. We have a great team
            of web development professionals that are always experimenting and applying new ideas which will turn your
            website designs into a treasure trove for your company. Digiware provides a wide range of website design and
            development services, ranging from mobile web development and responsive website design to custom e-commerce
            and intranet experiences built with the most up-to-date and proven web technologies.</p>
    </div>

    <div class="container">
        <h6>Our Web Development Procedure</h6>
        <p>Our approach is transparent, effective, and permits rapid delivery of your online solution because we have
            been providing web development services for years. From detailed requirement collection to assuring your web
            solution's continued functionality after deployment, we've got you covered.</p>
    </div>

    <div class="cards">
        <div class="card card border-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Initial Stage</h5>
                <p class="card-text text-secondary">Our professionals convert your business needs into technical papers
                    for your online solution at this stage. We also convene the team and have one or more of the
                    designers produce a basic design. This stage establishes the project's basis.</p>
            </div>
        </div>
        <div class="card card border-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Project Development</h5>
                <p class="card-text text-secondary">Our software engineers are the ones that built your website. Since
                    Digiware follows the Scrum process, outcomes will be reviewed every two weeks. Our professionals
                    will next conduct User Acceptance Testing before deploying your web solution.</p>

            </div>
        </div>
        <div class="card card border-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Assistance Stage</h5>
                <p class="card-text text-secondary">We do continuous server monitoring, assign team members to resolve
                    issues and provide general customer support when your online solution is deployed using a strategic
                    mindset with a creative mind.</p>
            </div>
        </div>

        <div class="card card border-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Final Stage</h5>
                <p class="card-text text-secondary">Websites, such as online stores, must be frequently updated with new
                    features to meet rapidly changing customer demand. We can put together a small team for you to
                    deliver these changes. After deployment, this form of cooperation is considered.</p>
            </div>
        </div>
    </div>


    <div class="containers" id="cms">
        <div class="image">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/cms.jpg" alt="not available"
                [style.height.px]="350" [style.width.px]="550">
        </div>
        <div class="text">
            <h2>CMS Development</h2>
            <p>The purpose of content management system (CMS) development is to <br>offer specific solutions that enable
                creating, saving, organising,<br> altering, and publishing digital material simpler. The CMS, or
                content<br>
                management system, is a simple platform that allows any authorised<br> user to submit photos or
                information
                without needing to know PHP.<br> All big enterprises utilise CMS websites or blogs as it simplifies<br>
                maintenance and offers authorisation to numerous people depending<br> on user roles to add items,
                photographs, and materials. Digiware<br> provides exceptional websites, blogs, and bespoke solutions at
                a<br>
                cost-effective price by using modern CMS systems. We provide CMS<br> development services to
                organisations
                of all sizes, from SMEs to<br> major corporations.</p>
        </div>
    </div>

    <div class="container1" id="eCommerce">
        <div class="text">
            <h2>E-commerce Development</h2>
            <p>E-commerce website design and development services aid in the<br> creation of a quality e-commerce
                experience
                that appeals to today's <br>demanding customers. When you engage with Digiware, you'll be<br>
                collaborating with
                e-commerce developers that understand high-<br>performance e-commerce systems and conversion-driven
                user<br>
                interfaces. Cutting-edge e-commerce website solutions for <br>outstanding, scalable, and long-lasting
                online
                enterprises. Developing <br>an eCommerce website or app is a complex process. The e-commerce<br>
                development
                stage contains a number of steps, starting with proper <br>planning and requirement analysis, then
                frontend
                and backend<br> development, testing and deployment.</p>
        </div>
        <div class="image">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/ecom_dev.jpg" alt="not available"
                [style.height.px]="350" [style.width.px]="550">

        </div>
    </div><br><br>

    <div class="containers" id="custom">
        <div class="image">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/custom_dev.jpg" alt="not available"
                [style.height.px]="350" [style.width.px]="550">
        </div>
        <div class="text">
            <h2>Custom Website Development</h2>
            <p>Custom website creation is built specifically for your brand, product,<br> or company, and it gives you
                an
                advantage over your competitors<br> since it is tailored to your target demographic. Using a variety of
                CMS<br>
                systems and programming languages, our custom web development<br> team creates unique websites. We
                provide a
                variety of custom<br> website-building services to boost engagement and lower bounce <br>rates. Our
                talented
                front-end and back-end developers are dedicated<br> to creating unique websites that will help you
                succeed.
                Layouts, fonts<br> and colours are all designed to help your online identity stand out.<br> Your custom
                website,
                which is developed with security and scalability<br> in mind, will help you satisfy market needs in a
                safe
                manner.</p>
        </div>
    </div><br><br>

    <div class="container1" id="estate">
        <div class="text">
            <h2>Real Estate Website Development</h2>
            <p>Are you looking to create a new website for your real estate business?<br> Your best option would be
                Digiware. We are the most reputable real <br>estate website design and development firm. We design
                websites
                for <br>all of our projects using the most sophisticated technology available<br> and we provide
                high-quality
                websites that meet your business<br> expectations. We create a website that is current, well-designed
                and<br>
                has all of the elements customers want in order to make a decision,<br> with an emphasis on increasing
                conversions. We create unique real<br> estate websites for agents that include professional content, an
                easy<br>
                property list, and a completely mobile-friendly and attractive website <br>that connects agents with
                their
                sales targets.</p>
        </div>
        <div class="image">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/real_estate.jpg" alt="not available"
                [style.height.px]="350" [style.width.px]="550">
        </div>
    </div><br><br>

    <h2 style="text-align: center;">Development on Latest Technology</h2><br>
    <div class="horizontal">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://digiwareitsolution.com/wp-content/uploads/2022/05/node.jpg"
                        class="img-fluid rounded-start" alt="..." [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8" id="node">
                    <div class="card-body">
                        <h5 class="card-title">Node JS Development</h5>
                        <p class="card-text">Node.js is an open-source, cross-platform JavaScript run-time environment
                            for executing JavaScript code outside of a browser. It also allows Node js developers to use
                            JavaScript and a library of modules to construct web servers and networking applications.
                            This framework, unlike others, properly runs JavaScript code, and it does it outside of the
                            web browser. It provides a blissful event-driven non-blocking input-output method.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://digiwareitsolution.com/wp-content/uploads/2022/05/python.jpg"
                        class="img-fluid rounded-start" alt="..." [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="python">
                        <h5 class="card-title">Python Development</h5>
                        <p class="card-text">Python has been used in development services for about 30 years and is
                            currently one of the fastest growing languages. It's also recognised as one of the most
                            adaptable software development platforms. Python is an excellent choice for firms working
                            under time constraints as well as those developing very sophisticated programmes that must
                            meet the highest security standards. Python is used in data science for solutions such as
                            artificial intelligence and machine learning.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://digiwareitsolution.com/wp-content/uploads/2022/05/angularjs__1_-removebg-preview.png"
                        class="img-fluid rounded-start" alt="..." [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="angular">
                        <h5 class="card-title">Angular Development</h5>
                        <p class="card-text">Top Angular Development Company can help you expand your business with
                            intuitive apps and dynamic single-page web applications. Our skilled Angular developers
                            create well-structured apps while providing the best Angular development services. Digiware,
                            as the top Angular Development Company, combines agile principles, an innovative approach,
                            and our considerable expertise to create single-page apps that use MVVM and MVC concepts.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://digiwareitsolution.com/wp-content/uploads/2022/05/reactjs__1_-removebg-preview.png"
                        class="img-fluid rounded-start" alt="..." [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="react">
                        <h5 class="card-title">React Development</h5>
                        <p class="card-text">React is a front-end javascript library for creating user interfaces that
                            is open-source. Using reusable components, React JS allows you to design sophisticated user
                            interfaces. This technique has the advantage of allowing the developer to reuse previously
                            produced and stored components rather than rewriting the same lines of code manually.
                            Because of the nature of the Javascript language on which React JS is built, the user
                            interface data in the web application generated with it is continually refreshed.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-connect></app-connect>
</body>

</html>