<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
            <h5>CONTACT US</h5>
            <a routerLink="">HOME</a> <p > >CONTACT US</p> 
    </div>
   <br><br>
    <div class="gallery">
        <div class="gallery-item">
            <img src="../assets/phone-call.png" alt="Image 1">
            <div class="gallery-caption">
                <figcaption> <b>CONTACT DETAILS</b><br>
                    Please call us anytime and we will be<br>
                    happy to assist you.
                    <br><br>
                    <b>+91-9999794342</b>
                </figcaption>
            </div>
        </div>
        

        
        <div class="gallery-item">
            <img src="../assets/envelope.png" alt="Image 1">
            <div class="gallery-caption">
                <figcaption><b>EMAIL</b><br>
                    Please email us anytime and we will be<br>
                    happy to assist you.
                    <br><br>
                    <b>info@digiwareitsolution.com</b>
                </figcaption>
            </div>
        </div>
         

        
          
        
        <div class="gallery-item">
            <img src="../assets/marker.png" alt="Image 1">
            <div class="gallery-caption">
                <figcaption><b>LOCATION</b><br>
                    Please call, email or submit contact form<br>
                    and we will be happy to assist you.
                    <br><br>
                    <b>Gurugram Address:</b><br>
                    669, MG Road, Sector 28,Gurugram,<br>
                    Haryana 122002
                    <br><br>
                    <b>Dubai Address:</b><br>
                    BCM Corporate Services LLC Office 1305,<br>
                    Building Burlington Tower, 1305 Business <br>
                    Bay, Dubai
                </figcaption>
            </div>
        </div>
    </div>
<div class="card">
    <h2>We Love To Hear From You</h2>
    <p>Please submit contact form and we will be happy to assist you.</p>
    <div class="form">
        <form>

            
            <input type="text" name="name" placeholder="Name"><br><br>
            
            <div class="dropdown">
                <button class="dropdown-button">
                    <a><span class="fi fi-us"></span><i class="bi bi-caret-down-fill"></i></a>
                </button>
                <div class="dropdown-content">
                    <a><span class="fi fi-in"></span>+91</a>
                    <a><span class="fi fi-au"></span>+61</a>
                    <a><span class="fi fi-af"></span>+93</a>
                    <a><span class="fi fi-bd"></span>+880</a>
                    <a><span class="fi fi-us"></span>+1</a>
                    <a><span class="fi fi-ar"></span>+54</a>
                    <a><span class="fi fi-ca"></span>+1</a>
                    <a><span class="fi fi-br"></span>+55</a>
                    <a><span class="fi fi-ch"></span>+86</a>
                    <a><span class="fi fi-in"></span>+91</a>
                    <a><span class="fi fi-au"></span>+61</a>
                    <a><span class="fi fi-af"></span>+93</a>
                    <!-- Add more options as needed -->
                </div>
                <input type="tel" placeholder="phone">
            </div>
            <br>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>
            <select id="service" name="service">
                <option value="required service">Required Service</option>
                <option value="Software Development">Software Development</option>
                <option value="Web Development">Web Development</option>
                <option value="Digital Marketing">Digital Marketing</option>
                <option value="UX Design">UX Design</option>
                <option value="Graphics Design & Branding">Graphics Design & Branding</option>
                <option value="SMS & IVR Services">SMS & IVR Services</option>
            </select><br><br>
            <input type="textarea" rows="10" cols="20" placeholder="How can we help you?"><br><br>
            <button class="btn">SEND MESSAGE</button>

        </form>


    
</div><br><br>
</div>
</body>

</html>