<div class="form">
    <form >

        <legend>GET FREE CONSULTATION</legend>
        <input type="text" name="name" placeholder="Name"><br><br>

        <div class="dropdown">
            <button class="dropdown-button">
                <a><span class="fi fi-us"></span><i class="bi bi-caret-down-fill"></i></a>
            </button>
            <div class="dropdown-content">
                <a><span class="fi fi-in"></span>+91</a>
                <a><span class="fi fi-au"></span>+61</a>
                <a><span class="fi fi-af"></span>+93</a>
                <a><span class="fi fi-bd"></span>+880</a>
                <a><span class="fi fi-us"></span>+1</a>
                <a><span class="fi fi-ar"></span>+54</a>
                <a><span class="fi fi-ca"></span>+1</a>
                <a><span class="fi fi-br"></span>+55</a>
                <a><span class="fi fi-ch"></span>+86</a>
                <a><span class="fi fi-in"></span>+91</a>
                <a><span class="fi fi-au"></span>+61</a>
                <a><span class="fi fi-af"></span>+93</a>
                <!-- Add more options as needed -->
            </div>
            <input type="tel" placeholder="phone">
        </div>
        <br>
        <input type="email" id="email" name="email" placeholder="Email" required><br><br>
        <select id="service" name="service">
            <option value="required service">Required Service</option>
            <option value="Software Development">Software Development</option>
            <option value="Web Development">Web Development</option>
            <option value="Digital Marketing">Digital Marketing</option>
            <option value="UX Design">UX Design</option>
            <option value="Graphics Design & Branding">Graphics Design & Branding</option>
            <option value="SMS & IVR Services">SMS & IVR Services</option>
        </select><br><br>
        <input type="text" class="text" placeholder="How can we help you?"><br><br>
        <button class="btn">SEND MESSAGE</button>

    </form>


</div>