<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h5>Blog</h5>
        <a routerLink="" class="cont">HOME > </a> <a routerLink="/ui" class="conts">UI/UX DESIGN ></a>
        <p> COMMON MISTAKES WHEN MANAGING FINANCES</p>
    </div><br><br>
    <h1>Common mistakes when managing finances</h1><i class="bi bi-grid-fill" id="grid"></i>
    <a routerLink="/blog" class="grid"> UI/UX Design</a><br><br>
    <img src="../assets/common.jpg" alt="" [style.height.px]="600" [style.width.px]="850"><br><br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        <br><br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br><br>

    </p>
    <div class="container">
        <a  routerLink="/blogtips" class="refers" title="Tips For Digitizing Financial Services"><i
                class="bi bi-chevron-left"></i>PREVIOUS POST<br>Tips For Digitizing Financial Services</a>
        <a routerLink="/blogfinancial" title="Financial Services-Five Ways to Start" class="refer">NEXT
            POST<br>Financial Services-Five Ways to Start<i
                class="bi bi-chevron-right"></i></a>
    </div><br><br>
</body>

</html>