<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
           <h5>About Our Company</h5>
            <a routerLink="" >HOME</a> <p  > > ABOUT</p> 
    </div>
        
        <h1 class="head">Who We Are</h1>
        <div class="para">
            <p>Digiware IT Solutions is a multi-award-winning agency that specializes in a variety of IT and<br> <a routerLink="/blog2"> digital
                marketing</a> domains. We are a creative firm dedicated to bringing about good change and<br> giving your company a fresh
                perspective in the marketing field. We believe in producing work <br>that achieves outcomes as an
                independent,creatively-driven firm. As a result, we've hand<br>-picked only the best people to join our team, who will
                work tirelessly to exceed your<br> expectations.
                <br><br>
                We are a team of brand strategists, researchers, writers, designers and technologists that like<br>
                collaborating with clients to improve their brand value and place their company at the top. We<br> create high-impact
                messaging and campaigns that engage, motivate, and entertain a big<br> audience while also increasing your company's
                consumer base. Digiware does more than <br>simply improve the way things look; we also get things done. This enables
                our ideas to live <br>longer, stay fresher, and be more current.
            </p>
        </div>

        <div class="card">
            <div class="container">
                <div class="img">
                    <img src="../assets/COMPETENCE-1.jpg"
                        alt="not available" [style.height.px]="350" [style.width.px]="550">
                </div>
                <div class="text-container">
                    <h2>Our Competence</h2>
                    <p>In the year 2020, Digiware was launched. We have perfected the skill of web building and digital
                        marketing in such a short period, guaranteeing that our clients' businesses thrive and provide a
                        unique brand experience for their valued consumers. Our knowledge of the most up-to-date
                        technologies and processes, as well as the experience of our experienced specialists, has
                        enabled us to supply our customers with 100 percent satisfactory outcomes. We've done wonders in the
                         fields of <a routerLink="/web"> web design and development</a>, as well as digital marketing, showcasing
                          our originality and expertise,earning us several plaudits and prizes.</p>
                </div>
            </div>
        </div><br><br>

        <div class="container">
            <div class="text-container">
                <h2>Our Vision</h2>
                <p>Our vision is to go above and beyond client requirements by providing solutions that turn data into
                    information, allowing them to solve challenges and better serve their consumers. We want to be
                    around and help you during the entire process, simple as that. We also want to become a leading
                    performer among IT service providers as a big IT service provider. In addition, we achieve complete
                    client pleasure.</p>
            </div>

            <div class="img">
                <img src="../assets/our-vision.jpg"
                    alt="not available" [style.height.px]="350" [style.width.px]="550">
            </div>
        </div><br><br>
    
        <app-connect></app-connect>

</body>

</html>