<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h5>Blog</h5>
        <a routerLink="">HOME</a> 
        <p > > BLOG</p> 
    </div><br><br>
    <div class="gallery">
        <div class="gallery-item">
            <a routerLink="/blogui"><img 
                    src="../assets/ux.png"
                    alt="Image 1" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogui" class="header">
                    <h5>The Role of UI/UX Design in Creating Engaging Digitial Experiences</h5>
                </a>
                <p class=" text-secondary">Today day and age where competition is fierce and user attention is fleeting,
                    the role of UI/UX desi...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogbranding"><img 
                    src="../assets/branding (1).jpg" alt="Image 2"
                    [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogbranding" class="header">
                    <h5>The Power of Branding:How Graphic Design Shape Your Identity </h5>
                </a>
                <p class=" text-secondary">Branding is the process of creating a unique name, symbol, or design that
                    identifies and distinguish...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogmobileapps"><img 
                    src="../assets/mobil-app-development.jpg"
                    alt="Image 3" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogmobileapps" class="header">
                    <h5>Building Mobile Apps:Choosing the Right DEvelopment Framework</h5>
                </a>
                <p class=" text-secondary">As mobile devices become increasingly ubiquitous, more businesses are looking
                    to build mobile apps t...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogwordpress"><img
                    src="../assets/wordpress.jpg"
                    alt="Image 4" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogwordpress" class="header">
                    <h5>WordPress Development:The Ultimate Starter's Guide</h5>
                </a>
                <p class=" text-secondary">WordPress, which powers more than one-fourth of all websites, is perhaps the
                    simplest platform to us...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogsales"><img
                    src="../assets/lead-generation.jpg"
                    alt="Image 5" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogsales" class="header">
                    <h5>Growing Your Sales Funnel Through Lead Generation</h5>
                </a>
                <p class=" text-secondary">Your clients are the heart and soul of your business, regardless of the
                    sector you operate in. There...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogbusiness"><img
                    src="../assets/googleads.jpg"
                    alt="" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogbusiness" class="header">
                    <h5>How to Improve Your Business Strategy With Google Ads?</h5>
                </a>
                <p class=" text-secondary">You can advertise your company online with Google Ads (formerly known as
                    Google Adwords), a Pay Per ...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogwebsite"><img
                    src="../assets/website.jpg"
                    alt="Image 1" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogwebsite" class="header">
                    <h5>Why Is a Website Required For Businesses?</h5>
                </a>
                <p class=" text-secondary">Nowadays, everything is done digitally, therefore if you want your business
                    to expand, you need a we...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogcustom"><img
                    src="../assets/custom.jpg"
                    alt="Image 2" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogcustom" class="header">
                    <h5>Custom Software Development Services-Benefits & Onsite Goal</h5>
                </a>
                <p class=" text-secondary">In order to create the greatest personalised goods, custom software
                    development firms must spend a s...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogit"><img
                    src="../assets/IT-DM.jpg"
                    alt="Image 3" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogit" class="header">
                    <h5>Things To Aware About Information Technology & Digital Marketing</h5>
                </a>
                <p class=" text-secondary">Every business needs information technology, but there is occasionally a
                    misunderstanding about what...</p>
            </div>
        </div>
        <div class="gallery-item">
            <a routerLink="/blogadvantage"><img
                    src="../assets/advantages.jpg"
                    alt="Image 4" [style.height.px]="300" [style.width.px]="350"></a>
            <div class="gallery-caption">
                <a routerLink="/blogadvantage" class="header">
                    <h5>8 Advantages of Digital Marketing Outsourcing</h5>
                </a>
                <p class=" text-secondary">When you run a small business, time is a valuable commodity and marketing
                    your brand can eat up a lo...</p>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" routerLink="#">1</a></li>
            <li class="page-item"><a class="page-link" routerLink="/blog2">2</a></li>
            <li class="page-item">
                <a class="page-link" routerLink="/blog2">Next</a>
            </li>
        </ul>
    </nav>
</body>

</html>