<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="cont">
            <h1>OUR SERVICES</h1>
        </div>
        <app-form></app-form>
    </div><br><br>
    <div class="card">
        <div class="container">
            <div class="img">
                <img src="../assets/sd.jpg"
                    alt="not available" [style.height.px]="350" [style.width.px]="550">
            </div>
            <div class="text-container">
                <h2>Software Development</h2>
                <p>What is software development? This is a question that is frequently asked both inside and outside of
                    IT. It's a method of developing computer software utilizing one or more programming languages to
                    meet specific commercial or personal goals. The construction of operational software is generally
                    the outcome of a planned project including a number of processes and stages.</p>
                <ul>
                    <a id="redirectLink" ><i class="bi bi-caret-right-fill"></i>Application Development</a>
                    <a href="/softwaredevelopment#big"><i class="bi bi-caret-right-fill"></i>Big Data Services</a><br><br>
                    <a href="/softwaredevelopment#ai"><i class="bi bi-caret-right-fill"></i>AI & ML-Python Tensorflow</a>
                    <a href="/softwaredevelopment#mixed"><i class="bi bi-caret-right-fill"></i>Mixed Reality</a><br><br>
                    <a href="/softwaredevelopment#mern"><i class="bi bi-caret-right-fill"></i>MEAN/MERN Stack <br>Development</a>
                </ul>
                <button class="btn" routerLink="/softwaredevelopment">READ MORE</button>
            </div>
        </div>
    </div><br><br>
    <div class="cards">
    <div class="container">
        <div class="text-container">
            <h2>Web Development</h2>
            <p>Web app development services help with the establishment, upkeep and evolution of web-based apps. We
                design bespoke online apps fitted to individual company requirements, from basic landing pages to
                complicated customised web solutions, and assist customers to control expenses without investing in
                massive software where they may not require all modules and wind up paying more for customization.</p>
            <ul>
                <a href="web#cms"><i class="bi bi-caret-right-fill"></i>CMS Development</a>
                <a href="web#node"><i class="bi bi-caret-right-fill"></i>Node JS Development</a><br><br>
                <a href="web#eCommerce"><i class="bi bi-caret-right-fill"></i>E-Commerce Development</a>
                <a href="web#custom"><i class="bi bi-caret-right-fill"></i>Custom Website Development</a><br><br>
                <a href="web#angular"><i class="bi bi-caret-right-fill"></i>Angular Development</a>
                <a href="web#estate"><i class="bi bi-caret-right-fill"></i>Real Estate Website Development</a><br><br>
                <a href="web#react"><i class="bi bi-caret-right-fill"></i>React Development</a>

            </ul>
            <button class="btn" routerLink="/web">READ MORE</button>
        </div>

        <div class="img">
            <img src="https://th.bing.com/th/id/OIP.N7unJqtddiFrYsqq9-3hUQHaE7?pid=ImgDet&w=751&h=500&rs=1"
                alt="not available" [style.height.px]="350" [style.width.px]="550">
        </div>
    </div>
</div><br><br>
<div class="card">
    <div class="container">
        <div class="img">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/digital-marketing.jpg"
                alt="not available" [style.height.px]="350" [style.width.px]="550">
        </div>
        <div class="text-container">
            <h2>Digital Marketing</h2>
            <p>If the internet is the most important worldwide business platform today, then digital marketing services
                are required to fully use this platform. Digiware's professional digital marketing services are based on
                decades of experience and extensive knowledge in delivering you custom digital marketing services that
                help you expand the reach of your digital goods marketing, sales, and distribution programs into new
                markets or to targeted online communities.</p>
            <ul>
                <a href="digital#google"><i class="bi bi-caret-right-fill"></i>Google, Facebook & Linkedin Ads</a>
                <a href="digital#smm"><i class="bi bi-caret-right-fill"></i>Social Media Marketing</a><br><br>
                <a href="digital#seo"><i class="bi bi-caret-right-fill"></i>Search Engine Optimization(SEO)</a>
                <a href="digital#utube"><i class="bi bi-caret-right-fill"></i>Youtube Marketing</a><br><br>
                <a href="digital#email"><i class="bi bi-caret-right-fill"></i>Email & SMS Marketing</a>
                <a href="digital#sem"><i class="bi bi-caret-right-fill"></i>Search Engine Marketing(SEM)</a><br><br>
                <a href="digital#orm"><i class="bi bi-caret-right-fill"></i>Online Reputation Marketing(ORM)</a>

            </ul>
            <button class="btn" routerLink="/digital">READ MORE</button>
        </div>
    </div>
    </div><br><br>
    <div class="cards">
    <div class="container">
        <div class="text-container">
            <h2>UX/UI Design</h2>
            <p>We recognize the significance of good design in achieving digital success. Digiware's UI and UX expertise
                seamlessly integrate into the software development process to create user-friendly digital products. We
                provide a full range of UI/UX services, including branding, responsive site design, mobile app design,
                user experience consultancy, and promotional graphics, all using the most up-to-date tools and
                technology.</p>

                <ul>
                    <a href="ui#ux"><i class="bi bi-caret-right-fill"></i>UX Research</a>
                    <a href="ui#dashboard"><i class="bi bi-caret-right-fill"></i>Dashboard Design</a><br><br>
                    <a href="ui#seo"><i class="bi bi-caret-right-fill"></i>Search Engine Optimization(SEO)</a>
                    <a href="ui#uxtesting"><i class="bi bi-caret-right-fill"></i>UX Testing</a><br><br>
                    <a href="ui#interaction"><i class="bi bi-caret-right-fill"></i>Interaction Design</a>
                    <a href="ui#info"><i class="bi bi-caret-right-fill"></i>Information Architecture</a>
                </ul>
                <button class="btn" routerLink="/ui">READ MORE</button>
        </div>

        <div class="img">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/UI-UX.jpg"
                alt="not available" [style.height.px]="350" [style.width.px]="550">
        </div>
    </div>
    </div><br><br>
    <div class="card">
    <div class="container">
        <div class="img">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/graphics.jpg"
                alt="not available" [style.height.px]="350" [style.width.px]="550">
        </div>
        <div class="text-container">
            <h2>Graphics Design & Branding</h2>
            <p>Digiware has vast expertise in the creation and management of brand identities. Outstanding website designs, attention-grabbing logos, noteworthy posters, and gorgeous flexes are just a few of the Graphic Design and Branding Services that businesses require to boost their brand image while increasing awareness. Customers are quickly engaged and their attention is captured when the visuals are creative, smart, and prominent.</p>
            <ul>
                <a href="graphics#logo"><i class="bi bi-caret-right-fill"></i>Logo & Brand Identity</a>
                <a href="graphics#print"><i class="bi bi-caret-right-fill"></i>Print Design</a><br><br>
                <a href="graphics#graphic"><i class="bi bi-caret-right-fill"></i>Graphic Design </a>
                <a href="graphics#socia;"><i class="bi bi-caret-right-fill"></i>Social Media Post Design</a><br><br>
                <a href="graphics#info"><i class="bi bi-caret-right-fill"></i>Info-graphics Design</a>
                <a href="graphics#videos"><i class="bi bi-caret-right-fill"></i>Explanation Videos</a>
            </ul>
            <button class="btn" routerLink="graphics">READ MORE</button>
        </div>
    </div>
    </div><br><br>
    <div class="cards">
    <div class="container">
        <div class="text-container">
            <h2>SMS & IVR Services</h2>
            <p>Digiware is a leading mobile marketing solution supplier with in-depth knowledge of mobile technology, communication and interaction. We use IVR and SMS/MMS technologies to deliver services to businesses. The IVR/SMS service allows mobile users to obtain information via their phones, without the need for human interaction over the phone because the user’s engagement is planned. The majority of current marketing tactics using telecommunications are Interactive Voice Response (IVR) Campaign Systems and SMS Marketing Solutions.</p>
            <ul>
                <a href="sms#bulk"><i class="bi bi-caret-right-fill"></i>Bulk SMS Services</a>
                <a href="sms#lead"><i class="bi bi-caret-right-fill"></i>Lead Mentor</a><br><br>
                <a href="sms#cloud"><i class="bi bi-caret-right-fill"></i>Cloud Telephony</a>
            </ul>
            <button class="btn" routerLink="/sms">READ MORE</button>
        </div>

        <div class="img">
            <img src="https://digiwareitsolution.com/wp-content/uploads/2022/04/sms-2.jpg"
                alt="not available" [style.height.px]="350" [style.width.px]="550">
        </div>
    </div>
</div><br><br>
<app-connect></app-connect>
</body>

</html>