<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <title>Document</title>
</head>

<body>

    <div class="content">
        <div class="cont">
            <h1>TECHNOLOGY IN THE WORKPLACE</h1><br>
            <h5>NEW INNOVATION AND TECHNOLOGY FOR YOUR BUSINESS</h5><br>
            <button class="know" routerLink="/services">KNOW MORE</button>
            <button class="contact" routerLink="/contact">CONTACT US</button>
        </div>
        <app-form></app-form>
    </div>
    <br><br>
    <div class="head">
        <h6>Where Innovation Meets Your Requirements</h6>
    </div>
    <div class="main">
        <h1>Harness the power of Digital Transformation with Digiware IT <br>Solutions</h1>
    </div><br>
    <div class="para">
        <p>In today's fast-paced business world, it's essential to have strong and adaptive digital solutions that
            meet your organization's demands and <br>unleash tomorrow's prospects. At Digiware IT Solutions, we
            understand the role of digital in achieving strategic possibilities and help <br>companies navigate the
            digital landscape with a constant focus on the customer's experience and the outcomes achieved.</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../assets/experience.png">
            <div class="card-body">
                <h2>Experience-Driven & Outcome-Oriented</h2>
                <p>We assist companies in better understanding the role of digital in achieving strategic
                    possibilities
                    with
                    a constant emphasis on the customer's experience and the outcomes achieved.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/web-developer-removebg-preview-300x230.png">
            <div class="card-body">
                <h2>Qualified Web Designers & Developers</h2>
                <p>For years, we've been designing and creating websites and online apps. Our specialists have been
                    trained,
                    certified, and have extensive expertise with a number of website platforms.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/creativity-removebg-preview.png">
            <div class="card-body">
                <h2>Creative, Transparent and Expressive</h2>
                <p>You'll have comprehensive project visibility and multiple open lines of contact from the outset.
                    We'll be
                    there when you need us, and we'll keep you updated on the status of your project.</p>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="image-container">
            <img src="https://th.bing.com/th/id/OIP.cbKxavv8-rHvQIlRgd73VAHaE8?pid=ImgDet&rs=1"
                alt="your-image-alt-text">
        </div>
        <div class="text-container">
            <h2>Know About Our Company</h2>
            <p>Digiware IT Solutions is an unique Information Technology/Internet Marketing firm with a goal to
                equip organisations with cutting-edge technology so that they may survive in the digital era and
                create long-term value by digitally addressing problems.
                <br><br>
                We are skilled at designing high-quality, smart and strong software solutions for quick company
                transformation because we place a premium on innovation. Begin your journey with us to digitise your
                company utilising cutting-edge technology in order to create a better, bolder and more futuristic
                corporate empire.
            </p>
            <button type="button" class="btn ">CONTACT NOW</button>
        </div>
    </div>
    <br><br>

    <h1 class="h1">We are Certified Partner</h1>
    <div class="containerimages">
        <div class="images">
            <img src="../assets/google-partner.png">
            <img src="../assets/google.png">
            <img src="../assets/facebook-marketing-partners.png">
            <img src="../assets/bing.png">
        </div>
    </div>
    <br><br>
    <h1 class="h1">Discover Our Services</h1>
    <div class="para">
        <p>With our exotic computing technologies, we have the skills and experience to lift and best enterprises.
            We'll be there for you every step of<br> the way, from concept to launch. For your application development
            process, Digiware IT Solutions will design a progressive workflow <br>architecture.</p>
    </div>


    <div class="cards1">
        <div class="card">
            <img src="../assets/softdev-1.jpg">
            <div class="card-body">
                <h2>Software Development</h2>
                <p>The creation of dependable and scalable software solutions for any operating system or device. We
                    combine extensive industry knowledge with cutting-edge technology to create personalized
                    solutions and products that exactly meet the demands and behaviours.</p>
                <a routerLink="/softwaredevelopment"><button class="btn">READ MORE</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/web-deb-1-360x240.jpg">
            <div class="card-body">
                <h2>Web Development</h2>
                <p>We have a team of specialists trained, certified, and with extensive expertise in a number of
                    website platforms. Our professional <a href="#">web development</a> workforce is well-versed in
                    keeping up with
                    the newest trends while still adhering to the necessary standards.</p>
                <a routerLink="/web"><button class="btn">READ MORE</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/digital-mrkt.jpg">
            <div class="card-body">
                <h2>Digital Marketing</h2>
                <p>We're here to bring highly targeted traffic to your business utilizing a variety of <a
                routerLink="/about">digital marketing</a> methods aimed at expanding your company's 
                reach and exposure on social media. In its most basic form, it is internet-based marketing.</p>
                <a routerLink="/digital"><button class="btn">READ MORE</button></a>
            </div>
        </div>
    </div>
    <div class="cards1">
        <div class="card">
            <img src="../assets/UI-UX.jpg">
            <div class="card-body">
                <h2>UI/UX Design</h2>
                <p>User Experience(UX) is at the heart of the User Interface(UI). Our UX designers have a wealth of
                    knowledge in the key areas of user experience, allowing them to cooperate on the finer points of
                    usability and functionality.</p>
                <a routerLink="ui"><button class="btn">READ MORE</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/Graphics-design.jpg">
            <div class="card-body">
                <h2>Graphics Design & Branding</h2>
                <p>Designing a brand identity for your company that will communicate your intention, objectives, and
                    all you want to do for your audience-all in one graphic design-linking your company with your
                    consumers.</p>
                <a routerLink="/graphics"><button class="btn">READ MORE</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../assets/SMS-IVR.jpg">
            <div class="card-body">
                <h2>SMS & IVR Services</h2>
                <p>Allow your callers to speak with specialists based on the options they choose from the
                    multi-level IVR menu. Maintain a quick iteration process to keep up with the client's needs,
                    resulting in increased leads and customer loyalty.</p>
                <button class="btn">READ MORE</button>
            </div>
        </div>
    </div>

    <h2>Why Choose Us?</h2>
    <div class="horizontal">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/innovation.png" class="img-fluid rounded-start" alt="..."
                        [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Innovation</h5>
                        <p class="card-text">With our experience, we provide simple business intelligence by bringing
                            fresh ideas to the table every time. We've always believed that love for coding can lead to
                            amazing results.</p>

                    </div>
                </div>
            </div>
        </div>



        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/project-delivery.png" class="img-fluid rounded-start" alt="..."
                        [style.height.px]="100" [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Project Delivery</h5>
                        <p class="card-text">With on-time delivery and a reasonable price range, we provide what
                            others promise. We have a huge team of professionals who expertise in delivering projects
                            across industry verticals in mobile and cloud.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/team.png" class="img-fluid rounded-start" alt="..." [style.height.px]="100"
                        [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Team</h5>
                        <p class="card-text">We are a highly skilled group with extensive expertise in online design,
                            web development, logo and branding, internet marketing, game development, and app
                            development.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/support.png" class="img-fluid rounded-start" alt="..." [style.height.px]="100"
                        [style.width.px]="100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Support</h5>
                        <p class="card-text">We endeavour to serve you with excellent service. Our team goes above and
                            beyond to assure your total satisfaction, and we're continually searching for ways to
                            enhance our services.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <h2 class="h2">Latest News</h2>
        <app-cardslider></app-cardslider>
    </div><br><br>
    
    <h2>Our Clients</h2><br><br>
    <p class="client">We've been providing exceptional service to our clients since day one, and we'll continue to do so
        in the future to forge a lasting relationship with them. Our services are intended to assist businesses in
         expanding their operations.

    </p><br><br>
    <div class="container2" >
    <div class="img">
    <img src="../assets/angry-owl_logo.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/ambient-civil_logo-removebg-preview.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/bc.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/Blue-Boa-trans.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/branches.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/epsom-removebg-preview.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/ff.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/jp-logo.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/kinaray-logo.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/mytree-logo-removebg-preview.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/watt-logo.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    <img src="../assets/wl.png" alt=""[style.height.px]="200"  [style.width.px]="300">
    </div>
   </div> 
   
   <app-connect></app-connect>
</body>

</html>