<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h5>Blog</h5>
        <a routerLink="" class="cont">HOME > </a> <a routerLink="/softwaredevelopment" class="conts">SOFTWARE
            DEVELOPMENT ></a>
        <p> FINANCIAL SERVICES - FIVE WAYS TO START</p>
    </div><br><br>
    <h1>Financial Services - Five Ways to Start</h1>
    <i class="bi bi-grid-fill" id="grid"></i>
    <a routerLink="/blog" class="grid"> Software Development</a>
    <br><br>
    <img src="../assets/fs.jpg" alt="" [style.height.px]="600" [style.width.px]="850"><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        <br><br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br><br>
        <div class="container">
            <a  routerLink="/blogmobileapps" class="refers" title="Common mistakes when managing finances"><i
                    class="bi bi-chevron-left"></i>PREVIOUS POST<br>Common mistakes when managing finances</a>
            <a routerLink="/blogui" title="8 Advantages of Digital Marketing Outsourcing" class="refer">NEXT
                POST<br>8 Advantages of Digital Marketing Outsourcing<i
                    class="bi bi-chevron-right"></i></a>
        </div>
    
</body>

</html>