<div class="card-slider">
    <div class="card" *ngFor="let card of cards">
      <a [href]="card.imageLink">
        <img [src]="card.image" alt="Card Image"[style.height.px]="200"
         />
      </a>
      <div class="card-content">
        <h6><a [href]="card.headingLinkUrl">{{ card.headingLink }}</a></h6>
        <p>{{ card.description }}</p>
        <a [href]="card.headingLinkUrl" class="comt">COMMENTS(0)</a>  <a [href]="card.headingLinkUrl" class="comts">READ MORE</a>
      </div>
    </div>
  </div>
  
  
